* {
  margin: 0;
  padding: 0px;
}
body {
  overflow-x: hidden;
}
.text {
  position: absolute;
  right: 10%;
  top: 120px;
  font-size: 50px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.list ul li {
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  text-decoration: none;
  border-right: 1px solid black;
}
.list ul li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.2px;
}
.list ul li a:hover {
  color: white;
}

.butt {
  position: absolute;
  top: 420px;
  right: 25%;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.2px;

  text-decoration: none;
  height: 50px;
  width: 200px;
  border-radius: 20px;
  background: none;
  color: black;
}
.butt:hover {
  background: white;
  transition: 0.1s;
}
.textmain {
  position: absolute;
  top: 600px;
  background: black;
  height: 800px;
  width: 100%;
}
.textmain > p:first-child {
  color: white;
  position: absolute;

  top: 100px;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;

  left: 470px;

  letter-spacing: 0.2px;
  height: 50px;
}

.textmain > p:last-child {
  color: white;
  position: absolute;
  top: 250px;
  justify-content: center;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.2px;
  height: 50px;
  text-align: center;
  left: 300px;
}
.text1 {
  position: absolute;
  top: 1000px;
  background: white;
  color: black;
  height: 250px;
  width: 400px;
  border-radius: 20px;
  left: 150px;
  box-shadow: -15px 0px orange;
}
.text1 > p:first-child {
  color: black;
  position: absolute;

  left: 20px;

  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  top: 10px;

  letter-spacing: 0.2px;
  height: 50px;
}
.text1 > p:last-child {
  color: black;
  position: absolute;

  left: 20px;
  top: 70px;

  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;

  letter-spacing: 0.2px;
  height: 50px;
  padding-right: 10px;
}
.text2 > p:first-child {
  color: black;
  position: absolute;

  left: 20px;

  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  top: 10px;

  letter-spacing: 0.2px;
  height: 50px;
}
.text2 > p:last-child {
  color: black;
  position: absolute;

  left: 20px;
  top: 70px;

  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;

  letter-spacing: 0.2px;
  height: 50px;
  padding-right: 10px;
}
